<div class="container">
    <div class="page-header">
        <h1>LastLyrics <small>easiest way to view song lyrics</small></h1>
    </div>
    <div>
        <form ng-submit="submit()">
            <label for="username">Enter your Last.fm username below and hit Enter:</label>
            <input type="text" ng-model="username" id="username" placeholder="Your LastFM's username" />
            <div>
                <input type="submit" class="btn" value="Show me the lyrics" />
            </div>
        </form>
    </div>
</div>
